<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Glen Croft
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding bg-primary">
    <h3 class="text-center ion-margin-bottom">
      <q>A self-driven programmer with a perfectionist’s attitude to work</q>
    </h3>
  </div>
  <app-contact-details-view (onEdit)="onEditContactDetails()"></app-contact-details-view>
</ion-content>
